{% extends 'meal_managements/base.html' %}
{% block content %}
    <div class="card bg-light">
        <div class="card-header">Summery</div>
        <div class="card-body">
            <table class="table table-borderless">
                <tbody>
                <tr>
                    <td width="150px">Name</td>
                    <td>{{ group.name }}</td>
                </tr>
                <tr>
                    <td>Address</td>
                    <td>{{ group.address }}</td>
                </tr>
                <tr>
                    <td>Captain</td>
                    <td>{{ group.captain.name }}</td>
                </tr>
                <tr>
                    <td>Unique ID</td>
                    <td>{{ group.uuid }}</td>
                </tr>
                <tr>
                    <td>Total Members</td>
                    <td>{{ total_members }} <a href="{% url 'group_members' slug=group.uuid %}"
                                               class="ml-3">All Members <i class="fas fa-arrow-right"></i></a></td>

                </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}